@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Inter Tight", sans-serif;
}
.header{
  height: 800px;
  background-color: #576F35;
  background-image: url(../assets/header-img.png);
  background-repeat: no-repeat;
  background-position: right;
}
.container{
  max-width: 1200px;
  margin: 0px auto;
}
.navbar{
  padding-top: 25px;
  display: flex;
  justify-content: space-between;
}
.logo{
  display: flex;
  align-items: center;
}
.logo img{
  height: 18px;
  width: 18px;
}
.logo h4{
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  margin-left: 5px;
}
.nav{
  display: flex;
  align-items: center;
}
.nav ul{
  display: flex;
  align-items: center;
  gap: 10px;
}
.nav ul li{
  list-style: none;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  border: 2px solid rgba(251, 251, 251, 0.4);
  padding: 12px 10px;
  border-radius: 12px;
}
.nav button{
  background-color: #7A3145;
  color: #fff;
  border: none;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  height: 52px;
  width: 157px;
  margin-left: 20px;
  border-radius: 30px;
}