@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Inter Tight", sans-serif;
}
body::selection{
  background-color: #7A3145;
  color: #fff;
}
.header{
  height: 800px;
  background-color: #576F35;
  background-image: url(../assets/header-img.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 50%;
  height: 100%;
}
.container{
  max-width: 1140px;
  margin: 0px auto;
}
.navbar{
  padding-top: 25px;
  display: flex;
  justify-content: space-between;
}
.logo{
  display: flex;
  align-items: center;
}
.logo:hover{
  cursor: pointer;
}
.logo img{
  height: 18px;
  width: 18px;
}
.logo h4{
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  margin-left: 5px;
}
.nav{
  display: flex;
  align-items: center;
}
.nav ul{
  display: flex;
  align-items: center;
  gap: 10px;
}
.nav ul li{
  list-style: none;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  border: 2px solid rgba(251, 251, 251, 0.4);
  padding: 12px 10px;
  border-radius: 12px;
}
.nav ul li:hover{
  cursor: pointer;
}
.nav button{
  background-color: #7A3145;
  color: #fff;
  border: none;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  height: 52px;
  width: 157px;
  margin-left: 20px;
  border-radius: 30px;
}
.nav button:hover{
  cursor: pointer;
}
.hero-title{
  width: 502px;
  height: 562px;
  color: #fff;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
  position: relative;
  top: 50px;
}
.hero-title h1{
  text-transform: uppercase;
  font-size: 76px;
  line-height: 76px;
  font-weight: 600;
  letter-spacing: -1.6%;
  margin-top: 60px;
  margin-bottom: 90px;
}
.hero-title p{
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  text-align: left;
}
.how-it-works{
  padding: 6% 0%;
  height: 759px;
  background: linear-gradient(to left,#576F35 50%, #7A3145  50%)
}
.how-container{
  max-width: 1140px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.how-img img{
  width: 430px;
  height: 559px;
}
.how-content{
  color: #fff;
  height: 499px;
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.how-content h3{
  font-size: 32px;
  font-weight: 600;
  line-height: 32Px;
  letter-spacing: -1.6%;
  text-transform: uppercase;
}
.how-content span{
  color: rgba(251, 251, 251, 0.3);
}
.how-content p{
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: #FBFBFB;
}
.how-popup{
  display: grid;
  gap: 20px;
  transition: 0.3s;
}
.popup-white{
  height: 76px;
  width: 100%;
  background-color: #FBFBFB;
  border-radius: 15px;
  padding: 12px 25px;
  position: relative;
}
.popup-horizontal{
  display: flex;
  align-items: center;
  gap: 24px;
}
.popup-circle{
  height: 52px;
  width: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup-solid{
  height: 42px;
  width: 42px;
  background-color: #7A3145;
  color: #fff;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid #ffcfdc;
}
.popup-horizontal p{
  color: #141414d6;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -2%;
}
.popup-horizontal p span{
  color: #000;
  font-weight: 700;
}
.discount{
  height: 440px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.discount-content{
  max-width: 1140px;
  height: 240px;
  margin: 0px auto;
}
.discount-content h2{
  font-size: 76px;
  line-height: 80px;
  font-weight: 600;
  letter-spacing: -1.6%;
  text-transform: uppercase;
}
.discount-content h2 span{
  background-color: #576F35;
  color: #fff;
  border-radius: 12px;
}
.organic-vegetables{
  height: 1229px;
  background-color: #7A3145;
  padding: 100px 0px;
}
.organic-container{
  max-width: 1140px;
  margin: 0 auto;
}
.organic-container::selection{
  background-color: #576F35;
  color: #fff;
}
.organic-content{
  height: 193px;
  width: 626px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.organic-title{
  width: 508px;
}
.organic-title h2{
  font-size: 64px;
  font-weight: 600;
  text-transform: uppercase;
  color: #FBFBFB;
  line-height: 64px;
}
.organic-title h2 span{
  color: rgba(251, 251, 251, 0.3);
}
.organic-content p{
  font-size: 16px;
  line-height: 20px;
  color: #FBFBFB;
}
.organic-grid{
  width: 100%;
  height: 886px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 50px;
}
.organic-product{
  height: 379px;
  width: 346px;
  background-color: #FBFBFB;
  border-radius: 40px;
  padding: 32px;
}
.product-info{
  height: 315px;
  width: 282px;
}
.product-title{
  height: 62px;
  width: 125px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.organic-product h4{
  color: #7A3145;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: 1.5%;
}
.organic-product p{
  color: #000;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1.6%;
  text-transform: uppercase;
}
.organic-product img{
  width: 282px;
}